:root {
  --color: #2e3236;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #0d2538;
  --selection-bg:#3b8070;
  --selection-color:#fff;
  --nav-color: #1eb69f;
  --header-color:#35495e;
  --category-hover-bg: #bbbbbb;
  --icon-hover-color: #13202b;
  --aueb-hover-color: #ffffff;
  --link-bg-color: rgba(65, 179, 138, 0.3);
  --link-bg-hover-color: rgb(72, 201, 155);
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color:#a2b1bf;
  --selection-bg: #64a393;
  --selection-color:#000000;
  --nav-color: #142639;
  --header-color: #a2b1bf;
  --category-hover-bg: #253d53;
  --icon-hover-color: #c5d2db;
  --aueb-hover-color: #d2d9dc;
  --link-bg-color: rgba(65, 179, 138, 0.1);
  --link-bg-hover-color: rgb(33, 94, 73);
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}
