html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: ease .2s;
}
body {
  margin: 0;
  background-color: var(--bg);
}

.title, .subtitle {
  display: block;
  color: var(--header-color);
  letter-spacing: 1px;
  font-weight: 300;
}

.title {
  font-size: 80px;
}

.subtitle {
  font-size: 21px;
}


h2 {
  font-weight: 500;
  font-size: 40px;
  color: var(--header-color);
}
h3{
  font-weight: 500;
  font-size: 32px ;
  color: var(--header-color);

}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

a{
  text-decoration: none;
  background-color: var(--link-bg-color);
  color: var(--header-color);
  &:hover{
    background-color: var(--link-bg-hover-color);
  }
}


.icon {
  fill:var(--header-color) ;
  color: var(--header-color);
  &:hover{
    fill:var(--icon-hover-color) ;
    color: var(--icon-hover-color);
    transform: scale(1.1);
  }

  &.extra-icon{
    width: 35px;
    height: 35px;
  }
}
